server {
    listen 80;
    listen [::]:80;
    server_name __SITE_DOMAIN__;

    root __WEB_ROOT__/current;
    index index.html;

    location = /healthz {
        access_log off;
        default_type text/plain;
        return 200 "ok\n";
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
